<?php

define('VIRTUEMART_CONFIG', '../../configuration.php' );
define('API_PATH', '../szamlahegy-api');
define('TABLE_PREFIX', 'j25_');
define('PROCESS_LIMIT', 1 );
define('START_DATE', '2012.07.26');
define('PAYMENT_METHOD', 'B');
define('PRODUCT_NR', 'SZJ-1111');
define('QUANTITY_TYPE', 'db');
define('API_KEY', 'aaaaa-bbbbb-ccccc-ddddd');
define('TESTING', 1 );